
/*------------------------------------------------------------------

[Layout Stylesheet]

	Project:        Tweet Module
	Version:        1.0
	Last change:	08/31/2012
	Assigned to:	Daniel Kulbe (dk)
	
[Table of Content]
	1. Administration
	2. Tweet list
	3. Ticker

-------------------------------------------------------------------*/




/*------------------------------------------------------------------
[1. Administration]
*/

.tweet-combined-fields {
	padding: 10px;
	border: 1px dotted #CCCCCC;
}

.tweet-combined-fields > div > .tweet-combined-fields {
	background: #F5F5F5;
	border: 1px solid #CCCCCC;
	padding: 10px;
}




/*------------------------------------------------------------------
[3. Tweet list]
*/

#tweet-wrapper div.widget p.tweet_intro {
  font-size: 1.2em;
}

#tweet-wrapper div.widget p.tweet_outro {
  font-size: 1em;
}

#tweet-wrapper div.widget ul.tweet_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#tweet-wrapper div.widget ul.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5em;
  list-style-type: none;
}

#tweet-wrapper div.widget ul.tweet_list li a {
  
}

#tweet-wrapper div.widget ul.tweet_list .tweet_even {
  
}

#tweet-wrapper div.widget ul.tweet_list .tweet_avatar {
  padding-right: .4em; float: left;
}

.tweet_list .tweet_avatar img {
  vertical-align: middle;
}


/*------------------------------------------------------------------
[3. Ticker]
*/

#tweet-wrapper div.widget ul.ticker {
  height:4em;
  overflow-y:hidden;
}
#tweet-wrapper div.widget ul.ticker li {
  height: 4em;
}